@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: white;
    text-decoration: none;
}
body{
    background: #18232F;
}
.hr_sep_home{
    width: 150vh;
    margin-right: 10vh;
    border: 3px solid #1F2C3A;
}
.sep_vue{
    display: block;
    height: 60px;
}
nav{
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #141C26;
}
.nav_none{
    opacity: 0;
    transition: all 1s;
}
.info_user{
    display: flex;
    width: 100%;
}
.info_user div{
    display: flex;
    width: 100%;
    margin: auto;
}
.info_user .name{
    margin-left: auto;
    margin-right: 2.5vh;
}
.info_user details{
    position: absolute; 
    padding: 0vh 3vh 1.5vh 4vh;
    cursor: pointer;
    background-color: #141C26;
    border-radius: 0vh 0vh 2vh 0vh;
}
.info_user details p{
    margin: 2vh 1.5vh;
}
.logo_nav{
    width: 200px;
    height: 40px;
    margin: 0 auto ;
    margin-top: 5vh;
}
.bottom_nav{
    margin-top: auto;
    margin-right: auto;
    width: 100%;
}
.links_nav{
    margin-top: 12.5vh;
    width: 100%;
}
.link_page{
    display: flex;
    padding: 1vh 0;
    padding-top: 2vh;
    border-bottom: 2px solid;
    border-color: #576B86;
}
.log{
    border-bottom: none;
    border-top: 2px solid;
    padding: 2vh 0;
    border-color: #576B86;
    padding-top: 1.5vh;
}
.link_page:hover{
    background-color: #202d3b;
}
.link_page img{
    width: 30px;
    height: 30px;
    margin-left: 2vh;
}
.link_page p{
    margin-left: 2vh;
    margin-top: auto;
    margin-bottom: auto;
}
.real_nav_div{
    margin-left: auto;
    display: flex;
    flex-direction: column;

    width: 70px;
    height: 100vh;
    transition: all 1s;
    
    background: #263444;
}
.real_nav_div:hover{
    width: 275px;
}
.real_nav_div:hover .nav_none{
    opacity: 1;
}
/*--------------------------------------------------------
    Content
----------------------------------------------------------*/
.display_flex_convert_div{
    display: flex;
    height: 100vh;
}
.content_div_center_convert{
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 40vh;
}
.h1_convert{
    display: flex;
    font-size: 50px;
    justify-content: center;
    margin-bottom: 10vh;
}
.h1_convert img{
    height: 75px;
}
.h1_convert span{
    margin: auto 2vh;
}
.input_choose_1_convert{
    margin-top: 5vh;
}
.input_choose_1_convert details{
    cursor: pointer;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: 4px solid #4C5E6F;
}
.input_choose_1_convert details summary{
    display: flex;
}
.input_choose_1_convert details summary p{
    margin: auto 2vh;
    font-size: 20px;
    color: #6F91B6;
}
.more_convert{
    height: 14px;
    width: 20px;
    margin: auto;
    margin-right: 0;
}
.input_choose_1_convert details div{
    width: 40vh;
    position: absolute;
    background-color: #18232F;
    overflow-y: scroll;
    height: 175px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

::-webkit-scrollbar{
    background-color: #141C26;
    width: 7.5px;
    border-radius: 100vh;
}
::-webkit-scrollbar-thumb{
    border-radius: 100vh;
    background-color: #1135ab;
}
.input_choose_1_convert details div p{
    margin-top: 1vh;
    margin-left: 2vh;
    margin-right: 4.5vh;
}
.inputs_convert_crypto p{
    position: absolute;
    margin-left: 2vh;
    margin-top: 1vh;
    z-index: 1;
    
}
.inputs_convert_crypto input{
    display: flex;
    text-align: end;
    margin-right: 2vh;
    background: #263444;
    width: 100%;
    height: 42px;
    border-radius: 0 0 1vh 1vh;
    border: none;
    z-index: 0;
}
.button_convert_valid{
    width: 250px;
    height: 50px;
    font-weight: 900;
    font-size: 16px;
    margin-top: 15vh;

    background: #1190CB;
    border: none;
    border-radius: 5px;
}